/* Left: logo, navigation menu, account */

header {
  width: 25vw;
  display: flex;
  justify-content: flex-end;
}

#header-container {
  position: fixed; /* absolute position already set by parent container - setting it as fixed here just fixes it to its current position relative to viewport */
  width: 20vw; /* prevent overflow when shrinking page */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--border-color);
}

/*** TOP SECTION ***/
#header-container-topsection {
  display: flex;
  flex-direction: column;
}

/* Logo */
.fa-dove {
  background-color: transparent;
}

#dove-container {
  width: fit-content; /* works w padding bc logo is square. Else - create div container - set height/width */
  padding: 0.9rem; /* keep this constant for other items */
  border-radius: 9999px;
  margin-top: 0.5rem; /* keep this constant for other items */
  transition-duration: 0.3s;
  transition-property: background-color;
}

#dove-container:hover {
  cursor: pointer;
  background-color: var(--hover-light-blue);
}

/* Navigation Menu */
#header-navbar {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

#header-navbar i {
  font-size: 1.5rem;
}

#header-navbar li .navbar-btn {
  display: flex;
  padding: 0.8rem;
  padding-right: 1.2rem;
  align-items: center;
  width: fit-content;
}

#header-navbar li .navbar-btn div {
  width: 1.8rem;
  text-align: center;
}

#header-navbar li .navbar-btn .primaryheader {
  margin-left: 1.5rem;
}

#header-navbar li:hover {
  cursor: pointer;
}

#header-navbar li:hover * {
  background-color: var(--hover-light-blue);
  color: var(--primary-blue);
  transition-duration: 0.3s;
}

/* Tweet Button */
#header-container-topsection > .tweet-btn {
  padding: 1rem !important; /* make this button bigger than other tweet buttons */
  width: 90%;
}

#header-container-topsection > .tweet-btn:hover {
  cursor: pointer;
}

#header-container-topsection > .tweet-btn * {
  background-color: transparent;
  color: var(--primary-background-color);
}

#navbar-tweet-icon {
  display: none;
}

/*** BOTTOM SECTION ***/
#account-container {
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  margin: 0 1rem 0.5rem 0;
  border-radius: 9999px;
  width: 95%;
}

#account-container:hover,
#account-container:hover * {
  background-color: var(--hover-light-blue);
  cursor: pointer;
  transition-duration: 0.3s;
}

#account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.8em;
  line-height: 1.6;
}

#account-name {
  font-weight: 600;
}

.account-ellipsis {
  margin: 0 1rem 0 auto;
}

/* MEDIA QUERIES */
@media (max-width: 1007px) {
  #header-navbar li .navbar-btn .primaryheader {
    display: none;
  }

  #header-container-topsection {
    align-items: center;
  }

  #header-container-topsection > .tweet-btn {
    width: fit-content;
  }

  #navbar-tweet {
    display: none;
  }

  #navbar-tweet-icon {
    display: block;
  }

  #account-container #account {
    display: none;
  }
}

@media (max-width: 640px) {
  .fa-ellipsis-h {
    display: none !important;
  }

  #account-container {
    width: 100%;
    padding: 0;
    justify-content: center;
  }
}
