/* Middle: status, welcome message */
main {
  display: flex;
  width: 75vw;
}

#main-left-container {
  background-color: var(--secondary-background-color);
  width: 45vw;
  border-right: 1px solid var(--border-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main-left-container > * {
  padding: 1rem;
}

/*** TOP: FIXED HOME BAR ***/
#main-left-top-container {
  position: fixed;
  height: 54px;
  width: 44.9vw; /* making 1px of space for border */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

#main-left-top-container:hover {
  cursor: pointer;
}

/*** MIDDLE: STATUS INPUT ***/
#main-left-middle-container {
  margin-top: 54px;
  flex-shrink: none;
  padding: 0.5rem 1rem;
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

#status-avatar-container img {
  width: 3.5rem;
  height: 3.5rem;
}

#middle-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* Input */
#status {
  font-size: 1.4rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  margin: 0.6rem 0 0 0.5rem;
}

#status:focus {
  outline: none;
}

/* Status Pop-up */
#status-popup {
  padding: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  display: none;
}

#status-popup > button {
  display: flex;
  align-items: center;
}

#status-popup > button:hover {
  background-color: var(--hover-light-blue);
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color;
}

#status-popup > button * {
  color: var(--primary-blue);
  font-weight: 600;
  background-color: transparent;
}

#status-popup > button > i {
  margin-right: 0.5rem;
}

/* Icons */
#right-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  margin-top: 1rem;
}

#bottom-icons-container {
  display: flex;
}

#bottom-icons-container > div {
  padding: 0.8rem;
  border-radius: 9999px;
  transition-duration: 0.2s;
  transition-property: background-color;
}

#bottom-icons-container i {
  font-size: 1.4rem;
  color: var(--primary-blue);
  background-color: transparent;
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-icons-container *:hover {
  cursor: pointer;
  background-color: var(--hover-light-blue);
}

/* BOTTOM 1/2: WELCOME MESSAGE */
#main-left-bottom-container {
  border-top: 1px solid var(--border-color);
  margin-top: 0.6rem;
  height: 100%;
  padding: 0;
}

#main-left-bottom-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
}

#main-left-bottom-container #welcome-msg-container {
  padding: 3rem;
}

#main-left-bottom-container #welcome-msg {
  margin: 1rem 0 1.2rem;
  text-align: center;
}

#welcome-msg-container > button:hover {
  cursor: pointer;
}

/*** BOTTOM 2/2: STATUS CONTENT ***/
:root {
  --status-button-red: rgb(255, 233, 224);
  --status-button-green: rgb(222, 255, 214);
  --status-button-red-hover: rgb(255, 213, 204);
  --status-button-green-hover: rgb(232, 245, 204);
}

#status-update-section {
  margin: 0;
}

#status-update-container {
  display: none;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: 0.8rem;
  padding-right: 0;
}

#status-update-content-container {
  margin-left: 0.5rem;
  width: 100%;
}

#status-update-content-userinfo {
  display: flex;
  align-items: center;
}

#status-update-content-userinfo > a {
  color: var(--primary-dark);
  font-weight: 600;
  padding-right: 0.2rem;
}

/* Delete Status */
#status-update-content-interactive {
  margin: 0 1rem 0 auto;
}

#status-delete,
#status-delete-cancel {
  display: none;
  font-size: var(--small-font-size);
  padding: 0.2rem 0.5rem;
  border-radius: 9999px;
  transition-duration: 0.2s;
  transition-property: background-color, color;
}

#status-delete {
  color: red;
  background-color: var(--status-button-red);
}

#status-delete:hover {
  cursor: pointer;
  background-color: var(--status-button-red-hover);
}

#status-delete-cancel {
  color: var(--primary-grey);
  background-color: var(--hover-light-grey);
}

#status-delete-cancel:hover {
  cursor: pointer;
  background-color: var(--hover-dark-grey);
}

.status-ellipsis {
  padding: 0.5rem;
  border-radius: 9999px;

  color: var(--primary-grey);
  transition-duration: 0.2s;
  transition-property: background-color, color;
}

.status-ellipsis:hover {
  color: var(--primary-blue);
  background-color: var(--hover-light-blue);
  cursor: pointer;
}

#status-update-content-userinfo > a:hover {
  text-decoration: underline;
}

/* Status Icons */
#status-update-icons {
  display: flex;
  width: 80%;
  margin-top: 1rem;
  justify-content: space-between;
}

#status-update-icons > div {
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
}

#status-update-icons i {
  height: 1rem;
  width: 1rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#status-update-icons div:hover,
#status-update-icons div:hover * {
  color: var(--primary-blue);
  background-color: var(--hover-light-blue);
  cursor: pointer;
  transition-duration: 0.2s;
}

#status-update-heart-icon-container:hover,
#status-update-heart-icon-container:hover * {
  color: red !important;
  background-color: var(--status-button-red-hover) !important;
}

#status-update-rt-icon-container:hover,
#status-update-rt-icon-container:hover * {
  color: green !important;
  background-color: var(--status-button-green-hover) !important;
}

/*** MEDIA QUERIES ***/
@media (max-width: 1037px) {
  #main-left-container {
    width: 100%;
  }

  #main-left-top-container {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .fa-chart-bar {
    display: none !important;
  }

  .fa-calendar-alt {
    display: none !important;
  }
}
