@import "header.css";
@import "main-left.css";
@import "main-right.css";
@import "footer.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  /* fonts */
  --default-font-family: "Montserrat", sans-serif;
  --header-font-size: 1.25rem; /* 20px */
  --default-font-size: 0.9375rem; /* 15px */
  --small-font-size: 0.8125rem; /* 13px */

  /* colors */
  --primary-dark: #0f1419;
  --primary-grey: #536471;
  --primary-blue: #1da1f2;

  --primary-background-color: #fff;
  --secondary-background-color: #f7f9f9;
  --border-color: rgb(239, 243, 244);

  /* hover colors*/
  --hover-dark-grey: #ccc;
  --hover-light-grey: #ececec;
  --hover-dark-blue: rgb(10, 142, 223);
  --hover-light-blue: rgb(224, 243, 255);
}

/* STYLING */
* {
  box-sizing: border-box;
  background-color: var(--primary-background-color);
  font-family: var(--default-font-family);
  color: var(--primary-dark);
  font-size: var(--default-font-size);
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.active {
  color: var(--primary-blue);
}

/* basic text styling */
.primaryheader {
  font-size: var(--header-font-size);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--primary-blue);
}

.font-grey {
  color: var(--primary-grey);
}

.small-text {
  font-size: var(--small-font-size);
}

/* buttons */
button {
  border: none;
}

.btn {
  border-radius: 9999px;
  padding: 0.5rem 1rem;
}

.tweet-btn {
  background-color: var(--primary-blue);
  color: var(--primary-background-color);
  font-weight: 600;
  transition-duration: 0.2s;
  transition-property: background-color;
  padding: 0.8rem 1rem !important; /* overriding general .btn styling */
}

.tweet-btn:hover,
.tweet-btn:hover * {
  background-color: var(--hover-dark-blue);
}

/* images */
img {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  border-radius: 50%;
}
