header {
  display: flex;
  flex-direction: column;
  position: fixed; /* this + width setting + margin setting in main = fixed side bar */
  width: 14%;
  height: 100%;
  border-right: 1px solid var(--border-grey);
  background-color: var(--primary-background);
  align-items: center;
}

/* btn containers */
.btnContainer {
  background-color: transparent;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  text-align: center;
  position: relative;
}

/* navbar-left */
#navbar-left-container {
  display: flex;
  flex-direction: column;

  padding: 0 1.2em;
}

/* Hide text */
.navbar-left_link h2 {
  display: none;
}

/* ugly way to do this --- not sure how to improve */
.navbarIcon {
  position: relative;
  top: 25%;
}

/* hover background */
.navbar-left_link:hover {
  background-color: var(--secondary-blue);
  cursor: pointer;
  color: var(--primary-blue);
}

.active {
  color: var(--primary-blue);
}

/* tweet button */
#tweet {
  display: none;
}

.tweetContainer {
  background-color: var(--primary-blue);
  margin: 0 auto;
}

.tweetContainer:hover {
  background-color: var(--primary-blue-hover);
  cursor: pointer;
}

.fa-feather {
  color: white;
}

/* account info */
#navbar-left_username-container {
  display: none;
}

#navbar-left_account-info {
  display: flex;
  margin: auto auto 1.5rem;
  background-color: lightgray;
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
}

.fa-user {
  margin: auto;
}

@media (min-width: 1007px) {
  header {
    width: 20%;
  }

  #navbar-left-container {
    align-self: stretch;
  }

  .btnContainer {
  }

  .navbar-left_link h2 {
    display: inline-block;
    position: absolute;
    top: -16px;
    left: 50px;
  }

  .tweetContainer {
    display: none;
  }

  #tweet {
    display: block;
    align-self: stretch;
    margin: 0.5rem 1rem;
  }
}
