@import "header.css";
@import "main.css";
@import "footer.css";

:root {
  --primary-blue: rgba(29, 161, 242, 1);
  --primary-blue-hover: rgba(19, 151, 232, 1);
  --secondary-blue: aliceblue;
  --border-grey: #eee;
  --primary-background: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f7f9f9;
}

.btn {
  border: none;
  background-color: var(--primary-blue);
  border-radius: 99px;
  padding: 0.8rem 1rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--primary-blue-hover);
  cursor: pointer;
}
