/* main: right section - suggestions cards */
#main-right-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

/* SEARCH BAR */
#main-right-top-container {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  position: fixed; /* positioning */
  width: 30vw;
}

form {
  background-color: var(--secondary-background-color);
  padding: 0.8rem;
  border-radius: 9999px;
  width: 100%;
}

form input:focus {
  outline: none;
}

form * {
  border: none;
  background-color: var(--secondary-background-color);
}

/* CARDS */
#main-right-middle-container {
  margin-top: 8vh;
  padding: 0.5rem 2rem;
  width: 30vw;
}

.main-right-card {
  background-color: var(--secondary-background-color);
  border-radius: 15px;
  margin-bottom: 1rem;
}

.main-right-card * {
  background-color: transparent;
}

.main-right-card .primaryheader-container {
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
}

.suggestion-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
  line-height: 1.6;
}

.suggestion-container:hover {
  cursor: pointer;
  background-color: var(--hover-light-grey);
  transition-duration: 0.5s;
}

.suggestion-container .account {
  display: flex;
  flex-direction: column;
  padding-left: 0.8rem;
}

.suggestion-container .account .account-name {
  color: var(--primary-dark);
}

.suggestion-container .account .account-name:hover {
  text-decoration: underline;
}

.suggestion-container .account .subheader {
  color: var(--primary-grey);
}

.suggestion-container .follow-btn {
  margin-left: auto;
  color: var(--primary-blue);
}

.showmore-container {
  padding: 1rem;
  color: var(--primary-blue);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.showmore-container span {
  color: var(--primary-blue);
}

.showmore-container:hover {
  background-color: var(--hover-light-grey);
  transition-duration: 0.5s;
  cursor: pointer;
}

.suggestion-container .xbtn {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  transition-duration: 0.2s;
  transition-property: background-color;
}

.suggestion-container .xbtn:hover {
  cursor: pointer;
  background-color: var(--hover-dark-grey);
}

.follow-btn {
  border: 1px solid var(--primary-blue);
  color: var(--primary-color-blue);
  transition-duration: 0.2s;
  transition-property: background-color;
}

.follow-btn:hover {
  background-color: var(--hover-light-blue);
  cursor: pointer;
}

@media (max-width: 1037px) {
  #main-right-container {
    display: none;
  }
}
