/* main: middle section - status update, feed */
main {
  display: flex;
  width: 75vw;
}

#main-left-container {
  background-color: var(--secondary-background-color);
  width: 45vw;
  border-right: 1px solid var(--border-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main-left-container > * {
  padding: 1rem;
}

/* HOME */
#main-left-top-container {
  position: fixed;
  height: 54px;
  width: 44.9vw; /* making 1px of space for border - clean or ugly? */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

#main-left-top-container:hover {
  cursor: pointer;
}

/* STATUS BAR */
#main-left-middle-container {
  margin-top: 54px;
  flex-shrink: none;
  padding: 0.5rem 1rem;
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

#status-avatar-container img {
  width: 3.5rem;
  height: 3.5rem;
}

#middle-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* status line */
#status {
  font-size: 1.4rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  margin: 0.6rem 0 0 0.5rem;
}

#status:focus {
  outline: none;
}

/* status pop-up */
#status-popup {
  padding: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  display: none;
}

#status-popup > button {
  display: flex;
  align-items: center;
}

#status-popup > button:hover {
  background-color: var(--hover-light-blue);
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color;
}

#status-popup > button * {
  color: var(--primary-blue);
  font-weight: 600;
  background-color: transparent;
}

#status-popup > button > i {
  margin-right: 0.5rem;
}

/* bottom */
#right-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  margin-top: 1rem;
}

#bottom-icons-container * {
  font-size: 1.4rem;
  color: var(--primary-blue);
  margin: 0 0.5rem;
}

#bottom-icons-container *:hover {
  cursor: pointer;
}

/* status update */
#status-update-section {
  margin: 0;
}

#status-update-container {
  display: none;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: 0.8rem;
  padding-right: 0;
}

#status-update-content-container {
  margin-left: 0.5rem;
  width: 100%;
}

#status-update-content-userinfo {
  display: flex;
  align-items: center;
}

#status-update-content-userinfo > a {
  color: var(--primary-dark);
  font-weight: 600;
  padding-right: 0.2rem;
}

#status-update-content-userinfo > a:hover {
  text-decoration: underline;
}

#status-update-icons {
  display: flex;
  width: 80%;
  margin-top: 1rem;
  justify-content: space-between;
}

#status-update-icons > div {
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
}

#status-update-icons i {
  height: 1rem;
  width: 1rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#status-update-icons div:hover,
#status-update-icons div:hover * {
  color: var(--primary-blue);
  background-color: var(--hover-light-blue);
  cursor: pointer;
  transition-duration: 0.2s;
}

#status-update-heart-icon-container:hover,
#status-update-heart-icon-container:hover * {
  color: red !important;
  background-color: rgb(255, 233, 224) !important;
}

/* WELCOME MESSAGE */
#main-left-bottom-container {
  border-top: 1px solid var(--border-color);
  margin-top: 0.6rem;
  height: 100%;
  padding: 0;
}

#main-left-bottom-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
}

#main-left-bottom-container #welcome-msg-container {
  padding: 3rem;
}

#main-left-bottom-container #welcome-msg {
  margin: 1rem 0 1.2rem;
  text-align: center;
}

@media (max-width: 1037px) {
  #main-left-container {
    width: 100%;
  }

  #main-left-top-container {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .fa-chart-bar {
    display: none !important;
  }

  .fa-calendar-alt {
    display: none !important;
  }
}
