@import "header.css";
@import "main-left.css";
@import "main-right.css";
@import "footer.css";

:root {
  /* fonts */
  --default-font-family: arial, helvetica, sans-serif;
  --header-font-size: 1.25rem; /* 20px */
  --default-font-size: 0.9375rem; /* 15px */
  --small-font-size: 0.8125rem; /* 13px */

  /* colors */
  --primary-color-dark: #0f1419;
  --primary-color-grey: #536471;
  --primary-color-blue: #1da1f2;

  --primary-background-color: #fff;
  --secondary-background-color: #f7f9f9;
  --border-color: rgb(239, 243, 244);

  /* hover colors*/
  --hover-dark-grey: #ccc;
  --hover-light-grey: #dedede;
  --hover-dark-blue: rgb(10, 142, 223);
  --hover-light-blue: rgb(224, 243, 255);
}

/* STYLING */

/* aside for box-sizing, not sure if this is the right place to put these settings */
* {
  box-sizing: border-box;
  background-color: var(--primary-background-color);
  font-family: var(--default-font-family);
  color: var(--primary-color-dark);
  font-size: var(--default-font-size);
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

#header-navbar i {
  font-size: 1.5rem;
}

.active {
  color: var(--primary-color-blue);
}

/* basic text styling */
.primaryheader {
  font-size: var(--header-font-size);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--primary-blue);
}

/* buttons */
.btn {
  border: none;
  border-radius: 9999px;
  padding: 1rem;
}

.tweet-btn {
  color: #fff;
  font-weight: 600;
  background-color: var(--primary-color-blue);
  transition-duration: 0.2s;
  transition-property: background-color;
}

.tweet-btn:hover {
  background-color: var(--hover-dark-blue);
  cursor: pointer;
}

.follow-btn {
  border: 1px solid var(--primary-color-blue);
  color: var(--primary-color-blue);
  padding: 0.6rem 1rem;
  transition-duration: 0.2s;
  transition-property: background-color;
}

.follow-btn:hover {
  background-color: var(--hover-light-blue);
  cursor: pointer;
}

/* images (account avatar */
img {
  width: 3em;
  height: 3em;
  border: 1px solid black;
  border-radius: 50%;
}
